.centreText {
    text-align: center;
    font-size: 14pt;
}
.tab {
    color: white;
    font-size: 14pt;
    font-weight: bold;
}
.yahooLogo {
    align-content: right;
}

.weatherCard {
    text-align: left;
    max-width: 250px;
}